$primary-color: #49C2C2;
$button-linear-gradient-bgc:linear-gradient(129deg,rgba(82,134,255,1) 0%,rgba(69,211,211,1) 100%);
$button-linear-gradient-latestcar:linear-gradient(129deg, #32D0C6 0%, #22C4D4 100%);
$button-font-color:#fff;
$button-shadow:0 0.05rem 0.1rem 0 rgba(73,157,194,0.2);
$header-bgc:#fff;
$primary-color-light: #E5F6F6;
$shadow-color: #b6f4f4;
$logo-height: .31rem;//header logo的高度
$logo-height-index:.31rem;//header logo的高度
$logo-width-index:1.42rem;
$hot-models-tab-bgc:rgba(73,194,194,0.15);
// $hot-models-tab-color:#49C2C2;
$news-label-bgc:rgba(73,194,194,0.8);
$a-link-font-color:#49c2c2;//正文a标签字体颜色
$price-color:#0064FF;//价格字体的颜色
$footer-logo-height:.45rem;
$footer-logo-width:  1.61rem;
$add-more-car-bg:rgba(73,194,194,0.9);
$news-content-img-bg:url('~@/assets/default/logo.png') no-repeat center center;//资讯正文图片的占位图
$home-banner-img-bg:#eee url('~@/assets/default/logo.png') no-repeat center center;//首页banner图片的占位图
$new-primary-color: #32D0C6; //车系页面
$model-view-specs-button:rgba(50,208,198,0.15);
$head-login-button:rgba(50, 208, 198, 1);
$comment-addComment:linear-gradient(129deg,rgba(50,208,198,1) 0%,rgba(34,196,212,1) 100%);
$comment-addComment-shadow:0px 4px 10px 0px rgba(50,208,198,0.3);
$comment-addComment-color:rgba(255,255,255,1);
$user-review-background: rgba(11, 14, 82, 1);
$specs-active-color: #C9FFFF;
$specs-active-background: #49C2C21C;
$tools-calculator-item-label: #484848;
$color-primary: #49C2C2;
$app-header-button-font-color:#32D0C6;
$app-header-button-bg-color:rgba(73, 194, 194, 0.1);
$button-font-color: #fff;
$button-box-shadow: 0px 2px 10px 0px rgba(50, 208, 198, 0.3); 