{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    [
      "import",
      {
        "libraryName": "vant",
        "style": true
      },
      "vant"
    ]
  ]
}
