dist
node_modules
dist.zip
.DS_Store
dist-ssr
dist-static
create-sitemap/sitemap
bak/*
prod.pem
prod-old.pem
dist-ssr.zip
dist-static.zip
_temp-html
html
script-sitemap/searchResult/
script-sitemap/*.xml
script-sitemap/local
script-sitemap/sitemap/*.xml
script-sitemap/videoSearch.js
script-sitemap/*.gz
script-sitemap/find-videos-detail/*.xml
script-sitemap/videoSearch
script-sitemap/node_modules